@tailwind base;

::-moz-selection { /* Code for Firefox */
    color: #361005;
    background: #E3CB80;
}

body {
    background: rgb(227,227,180);
    background: -moz-linear-gradient(180deg, rgba(227,227,180,1) 45%, rgba(227,203,128,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(227,227,180,1) 45%, rgba(227,203,128,1) 100%);
    background: linear-gradient(180deg, rgba(227,227,180,1) 45%, rgba(227,203,128,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e3e3b4",endColorstr="#e3cb80",GradientType=1);
}

::selection {
    color: #361005;
    background: #E3CB80;
}

.svg-button:hover {
    fill: #E3CB80;
}

.stroke {
    /* WebKit (Safari/Chrome) Only */
    -webkit-text-stroke: 1px #E3CB80;
    text-shadow: 2px 2px 0 #E3CB80,
        /* Simulated effect for Firefox and Opera
           and nice enhancement for WebKit */ -1px -1px 0 #E3CB80,
    1px -1px 0 #E3CB80,
    -1px 1px 0 #E3CB80,
    1px 1px 0 #E3CB80;
}

@font-face {
    font-family: 'Broadsheet LDO';
    font-display: auto;
    src: url('../fonts/BroadsheetLDOBold.woff2') format('woff2'),
    url('../fonts/BroadsheetLDOBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@tailwind components;

@tailwind utilities;