@tailwind base;

::-moz-selection { /* Code for Firefox */
    color: #361005;
    background: #E3CB80;
}

body {
    background: rgb(227, 227, 180);
    background: -moz-linear-gradient(180deg, rgba(227, 227, 180, 1) 45%, rgba(227, 203, 128, 1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(227, 227, 180, 1) 45%, rgba(227, 203, 128, 1) 100%);
    background: linear-gradient(180deg, rgba(227, 227, 180, 1) 45%, rgba(227, 203, 128, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e3e3b4", endColorstr="#e3cb80", GradientType=1);
}

.upside-down {
    transform: rotate(180deg);
}

.slide-up {
    animation: slide-up 600ms;
}

@keyframes slide-up {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}



::selection {
    color: #361005;
    background: #E3CB80;
}

.svg-button:hover {
    fill: #E3CB80;
}

.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #fff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}
@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(24px, 0);
    }
}


a:hover {
    text-decoration: underline;
}

.stroke {
    /* WebKit (Safari/Chrome) Only */
    -webkit-text-stroke: 1px #E3CB80;
    text-shadow: 2px 2px 0 #E3CB80,
        /* Simulated effect for Firefox and Opera
           and nice enhancement for WebKit */ -1px -1px 0 #E3CB80,
    1px -1px 0 #E3CB80,
    -1px 1px 0 #E3CB80,
    1px 1px 0 #E3CB80;
}

@font-face {
    font-family: 'Broadsheet LDO';
    font-display: swap;
    src: url('../fonts/BroadsheetLDOBold.woff2') format('woff2'),
    url('../fonts/BroadsheetLDOBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@tailwind components;

@tailwind utilities;